<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [58]:
# create a list of 10 student (use just first name)
students = ['David', 'Matt', 'Jin', 'Hongmei', 'Nastaran', 'Sophia']

In [6]:
student_list=students

In [60]:
print(students)
print(student_list)

['David', 'Matt', 'Jin', 'Hongmei', 'Nastaran', 'Sophia']
['Sophia', 'Nastaran', 'Hongmei', 'Jin', 'Matt', 'David']

In [61]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for x, i in enumerate (student_list) :
    print(f'index {x+1:03d} * {i}')

index 001 * Sophia
index 002 * Nastaran
index 003 * Hongmei
index 004 * Jin
index 005 * Matt
index 006 * David

In [62]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for x, i in enumerate(students):
    print(f'Index 0{x+1} * {i}')

Index 01 * David
Index 02 * Matt
Index 03 * Jin
Index 04 * Hongmei
Index 05 * Nastaran
Index 06 * Sophia

In [63]:
# Print the list
print(students)
print(student_list)

['David', 'Matt', 'Jin', 'Hongmei', 'Nastaran', 'Sophia']
['Sophia', 'Nastaran', 'Hongmei', 'Jin', 'Matt', 'David']

In [66]:
# print the list of students in reverse order one student in a line with its index
student_list_copy = student_list
print(student_list_copy)

student_list_copy.reverse()
for x,i in enumerate (student_list_copy):
    print(f'{x+1:02d} {i}')

['Sophia', 'Nastaran', 'Hongmei', 'Jin', 'Matt', 'David']
01 David
02 Matt
03 Jin
04 Hongmei
05 Nastaran
06 Sophia

In [18]:
# print the list of students in reverse order one student in a line with its index
students_copy = students
students_copy.reverse()
for i in students_copy:
    print(i)

Sophia
Nastaran
Hongmei
Jin
Matt
David

In [1]:
students = ['aston', 'joel', 'vidya', 'ashley', 'joseph', 'minh', 'uchenna', 'datalounge', 'jess', 'jason']

In [3]:
students_reversed = students.copy()
students_reversed.reverse()
for i, k in enumerate(students_reversed):
    print(i, k)

0 jason
1 jess
2 datalounge
3 uchenna
4 minh
5 joseph
6 ashley
7 vidya
8 joel
9 aston

In [68]:
# print the student list in random order
# hint look up the function random.sample
import random
random_student_list = random.sample(student_list, k=3)
print(random_student_list)

['David', 'Nastaran', 'Sophia']

In [22]:
# print the student list in random order
# hint look up the function random.sample
import random
random_students = random.sample(students, k=2)
print(random_students)

['David', 'Nastaran']

In [32]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90]
student_marks = dict(zip(students, marks))
for i in sorted(student_marks, key=student_marks.get, reverse=True):
    print(i, student_marks[i])

Sophia 87
Nastaran 45
Matt 66
Jin 64
Hongmei 76
David 90

In [70]:
xie_marks = [87,45,76,64,66,90]
xie_student_marks = dict(zip(student_list, xie_marks))
print(xie_student_marks)

{'David': 87, 'Matt': 45, 'Jin': 76, 'Hongmei': 64, 'Nastaran': 66, 'Sophia': 90}

######sort out dictionary

In [85]:
###how to sort out the dict
for i in sorted(xie_student_marks,key=xie_student_marks.get,reverse = False):
    print(i,xie_student_marks[i])

Matt 45
Hongmei 64
Nastaran 66
Jin 76
David 87
Sophia 90

In [86]:
xie_student_marks

{'David': 87,
 'Matt': 45,
 'Jin': 76,
 'Hongmei': 64,
 'Nastaran': 66,
 'Sophia': 90}

In [79]:
marks = [87,45,76,64,66,90]
student_marks = dict(zip(students, marks))

In [80]:
print(student_marks)

{'David': 87, 'Matt': 45, 'Jin': 76, 'Hongmei': 64, 'Nastaran': 66, 'Sophia': 90}

In [81]:
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students, marks))

In [83]:
for i in sorted(student_marks, key=student_marks.get, reverse=True):
    print(i,student_marks[i])

Sophia 90
David 87
Jin 76
Nastaran 66
Hongmei 64
Matt 45

In [ ]:
for i in sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True):
    print(i, studentsAndMarks[i])

In [17]:
studentsAndMarks

{'aston': 87,
 'joel': 45,
 'vidya': 76,
 'ashley': 64,
 'joseph': 66,
 'minh': 90,
 'uchenna': 55,
 'datalounge': 73,
 'jess': 69,
 'jason': 75}

In [37]:
for i in sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True):
    print(i, studentsAndMarks[i])

minh 90
aston 87
vidya 76
jason 75
datalounge 73
jess 69
joseph 66
ashley 64
uchenna 55
joel 45

In [32]:
key =studentsAndMarks.get

In [87]:
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students, marks))
print(f"Students and their marks: \n {studentsAndMarks}")
for student in sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True ):
  print(f"{student:10s}:{studentsAndMarks[student]}")

Students and their marks:
 {'David': 87, 'Matt': 45, 'Jin': 76, 'Hongmei': 64, 'Nastaran': 66, 'Sophia': 90}
Sophia    :90
David     :87
Jin       :76
Nastaran  :66
Hongmei   :64
Matt      :45